{% extends "layout.html" %}

{% block title %}
    2020
{% endblock %}

{% block main %}
    <br>        
    <div class="colunas">
        <h2 class="nome">2020</h2>
        <p>
            Parceria entre Vini Albernaz, Apj e, indiretamente, Microsoft. 
            A letra da música é o programa de “Olá mundo” da linguagem de programação C#. 
            No vídeo, faz referência direta a um acontecimento dentro da narrativa.
        </p>
    </div>
    <div class="youtube-container">
        <div class="youtube-content">
            <img class="ratio" src="http://placehold.it/16x9"/>
            <iframe src="https://www.youtube.com/embed/jteC6fVO6LA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="colunas">
        <h5><strong>Hello World por Apj</strong></h5>
        <p>
           O Vini me mandou essa pronta também. O engraçado é que eu já tinha a letra 
           antes dele mandar. A gente já tava com o filme em andamento, 
           talvez terminando a “Ela quer tudo” ou já trabalhando na “Frágil Equilíbrio”. 
           E ele disse que ia fazer um som dançante, bem pra cima, haha. E eu falei bora 
           já tenho a letra. Ou acho que tenho a letra, quando tu me mandar o som, 
           vou tentar encaixar uma melodia em cima. Ele me mandou e nossa, 
           que som fritante. Eu adorei aquele ritmo, aquela sonoridade. 
           Nessa altura eu já tinha devolvido o gravador do Lauro, então precisei montar 
           microfone pedestal cabo plaquinha computador. Meu filho era recém-nascido, 
           então tudo era um pouco mais complicado. O tempo, ter tempo pra montar e gravar 
           qualquer coisa. A cada soneca eu ia fazendo um pouco. Numa dessas, eu já tinha 
           tudo montado, no quarto dele. Entre guarda-roupa e berço, computador na cômoda. 
           Gravei as primeiras vozes. A letra era o código em C#, uma linguagem criada pelo 
           programador Anders Hejlsberg, pertence à Microsoft. Hello world, ou olá mundo, 
           é um chavão dentro da área de programação. É o primeiro código que qualquer 
           estudante aprende. Ele tem versões em todas as linguagens. Eu peguei o código 
           Hello World padrão em C# e fui lendo linha a linha. Então onde no programa tem 
           um ponto e vírgula, por exemplo, eu canto “semicolon”, onde tem parênteses ou 
           colchetes, essas coisas que não são lidas ou cantadas, que tão ali pra servir 
           na sintaxe da linguagem, que é sobretudo pro computador entender onde começa ou 
           termina uma frase, ou onde algo tem que ser tratado de alguma forma diferente etc, 
           aquilo foi cantado, tudo literalmente. O resultado é uma letra, só enquanto letra, 
           bem absurda. Talvez algum programador que ouça consiga identificar que é um programa 
           sendo descrito linha a linha, lido em todos os pormenores. Talvez não. Sei lá. 
           Mas eu gostei dessa ideia, desse conceito. E Hello world, essas duas palavras, 
           também me soam muito fortes e universais. E soam bem. Fiquei repetindo elas 
           e criou um baita clima, que combinava com aquela sonoridade proposta pelo Vini. 
           Ele me reenviou a melodia que eu tinha cantado num tom médio muitos tons acima, 
           eu parecia um soprano cantando. Aquilo ficou ainda mais atmosférico, 
           ainda mais potente. Parecia meio um Led Zeppelin da vida, ou aqueles rock and rolls 
           setenta clássicos, lunáticos, mas nessa roupagem contemporânea. Eu gostei daquilo 
           e comecei a treinar cantar naquele tom super alto. Como eu tinha esquecido de gravar
           alguns trechos da letra na guia, decidi regravar, dessa vez cantando naquele 
           tom proposto por ele. Ele fez as mágicas dele por ali, mas o resultado saiu mais 
           ou menos dessa sucessão de fatos. A letra, ou a escolha da letra, também foi 
           pensada com os caminhos do roteiro, da história do filme. A última música se 
           passaria em uma ilha. Seria um jogo de videogame, que estaríamos jogando com 
           nossos avatares, tipo os bonecos do Wii, os Mii. A gente jogava muito Mario Kart, 
           Vini, Gafa e eu. Nessa ilha teria esse easter egg da floresta de computadores 
           em chamas (que é a capa do 2050, primeiro EP da Bits, que inclusive tá como pôster 
           na minha parede do quarto, na “Cave”). Também tem o easter egg logo que chegamos 
           na ilha, de uma imagem tirada da capa de “Aurora, Chico”, da Musa. 
           Daí, na história, os personagens andam pela ilha, encontram um leão 
           (referência lá da “Cave”), esse leão leva eles pra uma caverna e uma montanha 
           (referência lá da “Cave” dois), o avatar do Apj adentra a caverna, 
           o avatar do Vini e o leão sobem a montanha. Na caverna, tem um computador velho, 
           um daqueles iMac da TV Cruj e um objeto estranho pendurado, mais ou menos no formato 
           de um capacete. No alto da montanha, também tem esse objeto pendurado em uma árvore.
           O avatar do Apj senta no computador e começa a digitar. Consegue ligar o sistema 
           dos capacetes, que funcionam como uma realidade virtual. Lá, o leão se transforma 
           numa baterista (a Emília), o Vini, com o capacete, tá tocando a linha marcante 
           de baixo da música. Eu começo, num emaranhado de frases possíveis, 
           a catar as linhas do programa Hello World, que não por acaso estão sendo cantadas. 
           Quando o programa entra na ordem correta, tudo dá um reboot e começa a chover. 
           A chuva apaga o incêndio na floresta. É a conclusão dos objetivos do jogo, zerar, 
           bater final, o fim.      

        </p>
    </div>

    <div class="colunas">
        <h5><strong>Hello World por Vini</strong></h5>
        <p>
            A “Hello World” retoma coisas da “Cave” e vai além. 
            Isso é legal delas serem início e fim, dá uma certa sensação de loop. 
            Um beat bem marcado, um groove forte, uma sonoridade bem pop. 
            Melodias brilhantes. E de novo com um texto, uma letra, que vai pra 
            outro lado. Cria um certo contraste interessante. Um baixo gravado 
            a partir de guitarra, com uma pegada mais pulsante, mais aberto no timbre, 
            e nervoso na sensação, na mensagem. O baixo é muito guia norteador do som. 
            Teve uma coisa de subir em vários tons a melodia original que o Apj gravou, 
            isso deu uma vibe pro som também. Eu fiz toda a música, 
            a gente já sabia que queria um som nessa onda pro fim do filme. 
            Foi parecido com o processo da “Cave”, eu mandei o som pronto pra ele, 
            e ele gravou uma voz em cima. Com a diferença que eu mexi no pitch do som. 
            A gente ficou tão feliz com esse resultado que provavelmente vai 
            guiar futuros trabalhos da Bits. 
 
        </p>
    </div>

{% endblock %}