{% extends "layout.html" %}

{% block title %}
    2050
{% endblock %}


{% block main %}
    <br>        
    <div class="colunas">
        <h2 class="nome">2050</h2>
        <p>
            2050 este futuro próximo com florestas de máquinas celulares 
            computadores geladeira fogão forno micro-ondas tudo a internet 
            das coisas essa floresta pegando fogo ardendo em chamas essa floresta 
            computacional essa floresta zero e um essa floresta tá em chamas. 
            A madeira é de mentira, o humano eu já foi transformado em húmus, 
            o buraco na camada de ozônio a fogueira na floresta amazônica tá em chamas 
            a floresta na Sibéria tá em chamas.
        </p>
    </div>
    <div class="youtube-container">
        <div class="youtube-content">
            <img class="ratio" src="http://placehold.it/16x9"/>
            <iframe src="https://www.youtube.com/embed/EOjLzglbvh0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="colunas">
        <!-- <h5><strong>Hello World por Apj</strong></h5> -->
        <p>
            São três faixas. A abertura se dá com Húmus, canção composta por Apj em 2013, um recitativo quase poema que ronda com a morte, uma ode à compostagem. Em seguida, Tá em chamas, parceria entre Vini e Apj, num momento em que a floresta amazônica tava pegando fogo, 2019, um presidente desimportante desimportado com tamanho agravo, e o impacto do filme First reformed, que entre outras coisas, fala sobre os impactos da indústria, da humanidade de certa forma, no planeta, no ambiente. A última faixa, Madeira mentira, canção de Apj, das antigas, talvez 2013 ou 2014, talvez 2012, uma brincadeira com um óculos de sol de madeira de um amigo, entrou no EP pra somar nessa temática planeta terra e um futuro distante próximo.
        </p>
    </div>

{% endblock %}