{% extends "layout.html" %}

{% block title %}
    Bits em Chamas
{% endblock %}

{% block main %}

  <h1 class="titulo"><a href="https://www.instagram.com/bitsemchamas" target="blank">@bitsemchamas</a></h1>
  <p class="texto-apoio"> Duo musical ou banda binária // 
    Bits é <a href="http://instagram.com/apjprasempre" title="instagram do Apj" target="blank"> @apjprasempre </a> && <a href="http://instagram.com/vinialbernaz" target="blank" title="instagram do Vini">@vinialbernaz</a> em Chamas</p>
  <!-- <p>Make the columns match the height of the tallest column.</p> -->

  <div class="col-container">
    <div class="col">
      <h2 class="nome">Apj</h2>
      <p class="txt-padding-left">
        Nasceu em Pelotas, no dia 1º de dezembro de 1988.               
      </p>
      <div class="dois-d">
        <img src="/static/images/apj.png" width="75px" height="250px">
      </div>
      <p class="txt-padding-left">
        Aos 20 anos começou a compor pra valer e foi aprendendo a cantar durante o processo.
        Nessa caminhada lançou os discos <i>Musa Híbrida</i> (2012), 
        <i>Verde fosco roxo cinza</i> (2014), <i>Respirei o poema cuspi...</i> (2016) e
        <i>Piscinas vazias iluminadas em pé</i> (2018), todos pela <a href="https://open.spotify.com/artist/5LpCFEPvJXatowkj10ypAz?si=GtzzCJS3SLajUqvaVmYASg&dl_branch=1" target="blank">Musa Híbrida</a>.
        <br><br>
        Estuda Letras na UFRGS, Mecatrônica no IF-Sul Câmpus Novo Hamburgo. 
        Escreve alguma coisa de literatura, alguma coisa de programação. 
        Umas músicas loucas, uns códigos loucos. Tudo isso tem rolado também
        na <a href="https://www.twitch.tv/apjprasempre" target="blank">Twitch</a>. 
        Lançou o EP <i>2050</i>, em 2019,
        o primeiro da Bits em Chamas. Pretende misturar esses universos distintos. 
        Do álbum <i>2020</i>, que virou um curta-metragem de animação (o roteiro é dele),
        pretende fazer uns jogos digitais também.
        <br><br>
        Atualmente mora em Novo Hamburgo. 
      </p>
      
    </div>

    <div class="col">
      <h2 class="nome">Vini</h2>
      <p class="txt-padding-left">
        Nasceu em Pelotas, no dia 2 de maio de 1986.
      </p>
    <div class="dois-d">
      <img src="static/images/vini.png" width="75px" height="250px">
    </div>
      <p class="txt-padding-left">
        Aos 20 e poucos anos começou a gravar coisas pra valer e foi aprendendo a produzir durante o processo.
        Nessa caminhada lançou os discos <i>Musa Híbrida</i> (2012), 
        <i>Verde fosco roxo cinza</i> (2014), <i>Respirei o poema cuspi...</i> (2016) e
        <i>Piscinas vazias iluminadas em pé</i> (2018), todos pela <a href="https://open.spotify.com/artist/5LpCFEPvJXatowkj10ypAz?si=GtzzCJS3SLajUqvaVmYASg&dl_branch=1" target="blank">Musa Híbrida</a>.
        <br><br>
        Fez graduação e mestrado em Artes Visuais pela UFPel. 
        Além dos discos da Musa, produziu <i>Leve embora</i> e <i>O sol marca</i>, 
        ambos do <a href="https://open.spotify.com/artist/3DfKD3lxqH4GtbTWNT4Erm?si=kycc9PDHT7G2Z2rqpoDRog&dl_branch=1" target="blank">Thiago Ramil</a>.
        Em <i>O sol marca</i> também fez as animações do <a href="https://youtu.be/ebfY6zBLjzo" target="blank">álbum visual</a>.
        Assina a produção musical, direção e animação do curta-metragem álbum <i>2020</i>.
        Sempre pronto pra embarcar numa nova aventura, vai trabalhar junto na 
        parte musical e visual desses futuros jogos digitais revereberações do álbum
        curta-metragem.
        <br><br>
        Atualmente mora em São Paulo.
      </p>
    </div>
  </div>

{% endblock %}
