{% extends "layout.html" %}

{% block title %}
    Cave
{% endblock %}

{% block main %}
    <!-- <div class="col"> -->
    <br>        
    <div class="colunas">
        <h1>Cave</h1>
        <p>
            Parceria entre Vini Albernaz e Apj. Tem clima indie rock lo-fi e conta 
            a história de uma pessoa isolada em seu apartamento, enquanto observa 
            pela janela a cidade seguindo seu ritmo quase normal - a sociedade alheia 
            ao isolamento.
        </p>
    </div>
    <!-- </div> -->
    <div class="youtube-container">
        <div class="youtube-content">
            <img class="ratio" src="http://placehold.it/16x9"/>
            <iframe src="https://www.youtube.com/embed/jteC6fVO6LA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="colunas">
        <h5><strong>Cave por Apj</strong></h5>
        <p>
           O Vini um dia me mandou um som, pra eu dar uma sacada. 
           Ele tava trabalhando num EP solo. Eu também tava com ideia de trabalhar 
           num disco solo. Começo da pandemia. Sonhos e desmotivações. 
           Na época, eu tava com o gravador do Lauro [Maia]. 
           Aquele Zoom era um xodó, tinha uma qualidade e praticidade maravilhosas. 
           Ele mandou o som e se chamava “Cave”. Falou assim como quem não quer nada: 
           “se tu tiver alguma ideia de letra...”. Eu tinha lido um texto do 
           Daniel Galera, que falava de alguma exposição, que eu nunca mais consegui 
           encontrar, de um artista que pegou trechos de jogos de videogame realistas 
           com cenas muito irreais. Uma delas era de algum personagem correndo, parado, 
           contra uma parede. Como cresci jogando videogame, aquela cena era muito viva 
           no meu imaginário. E da sacada de casa eu via muita gente circulando 
           pela rua. Daí veio a meio absurda meio explícita “Dói te ver passar da janela 
           do meu quarto-sala o invisível, nu, teus olhos”. Um jeito um tanto abstrato 
           de falar das pessoas sem máscaras e do não visível coronavírus. 
           Do nome “Cave” do Vini, pensei no óbvio, caverna. De caverna, me veio a imagem 
           da montanha. Da montanha, lembrei do antigo sistema operacional que a gente 
           usava no começo da Musa, lá por 2012, 2013, o Mountain Lion, e juntei mais 
           a palavra leão. “Um homem correndo contra” vem daquela ideia do personagem 
           de videogame correndo parado contra a parede. Não cabia “a parede” na métrica,
           mas eu gostei desse loop/elipse que se formou de deixar aberto “contra” seguido 
           da repetição “caverna, montanha, leão”. Tinha, vagamente, uma ideia de um 
           homem correndo contra ser o próprio presidente do Brasil que corre contra todos 
           acima de tudo e de todos. Mas assim, um pensamento/sentimento muito mais meu 
           do que necessariamente explícito na letra. Eu fiz a letra em, tipo, cinco minutos 
           ou menos. Ouvi a primeira vez pensando na letra, na segunda audição eu já gravei 
           com o Zoom do Lauro. Essa maravilha da praticidade. E da qualidade. 
           Sentado, na frente do computador, como gravação guia teste, acabou ficando como 
           voz final e a é que pode ser ouvida no disco. Essa despreocupação me agrada muito. 
           Eu gosto muito de como ela soa. Soa despreocupada, natural. Esse pico que a gente 
           só atinge quando tá livre criando, que depois quando começa a pensar e racionalizar 
           e tentar descobrir nota por nota e tempo a tempo, vai enrijecendo, endurecendo. 
           Eu, que sempre fui noiado em cantar, gostei muito desse processo.
        </p>
    </div>

    <div class="colunas">
        <h5><strong>Cave por Vini</strong></h5>
        <p>
           Começou com a Cave. A ideia inicial era ser um EP meu. 
           Acabei mandando pro Apj, ele colocou uma letra e ficou legal. 
           Depois mudamos a ideia. Mas seguiu uma coisa de ter poucos elementos 
           no som. Com um tratamento bem pop. Um som mais aberto, um kick forte 
           de bumbo, uma caixa bem marcada. É legal porque a letra vai bem pra 
           outro lado, uma coisa mais nonsense ou esquisita mesmo, enquanto o 
           som tem esse groove, com uma coisa mais “gostosa”, mais fluida. 
           Os arranjos eram todos feitos por partes. Um beat acontece ali, 
           depois vira outra coisa. Como se os samples tivessem 
           uma duração menor. 
        </p>
    </div>
{% endblock %}