{% extends "layout.html" %}

{% block title %}
    Cave
{% endblock %}

{% block main %}
    <div class="col">
            <p>
            Texto texto Texto texto Texto textoTexto texto Texto texto Texto textoTexto texto Texto texto Texto textoTexto texto Texto texto Texto texto Texto texto Texto texto Texto texto.
            </p>
    </div>
    <div class="youtube-container">
        <div class="youtube-content">
            <img class="ratio" src="http://placehold.it/16x9"/>
            <iframe src="https://www.youtube.com/embed/jteC6fVO6LA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}