{% extends "layout.html" %}

{% block title %}
    Ela Quer Tudo
{% endblock %}

{% block main %}
    <br>        
    <div class="colunas">
        <h2 class="nome">Ela quer tudo</h2>
        <p>
            Canção de Apj, com inspiração livre no filme “Ela Quer Tudo”, de Spike Lee. 
            A personagem Nola Darling é, com liberdade, descrita nos versos.

        </p>
    </div>
    <div class="youtube-container">
        <div class="youtube-content">
            <img class="ratio" src="http://placehold.it/16x9"/>
            <iframe src="https://www.youtube.com/embed/jteC6fVO6LA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="colunas">
    <h5><strong>Ela quer tudo por Apj</strong></h5>
        <p>
           O que eu acho legal desse EP é que ele é feito todo de músicas inéditas. 
           A minha curva composicional (que chique) diminuiu muito nos últimos anos. 
           Componho muito menos, de quantidade, e de frequência também. 
           Depois do processo da “Cave”, um dia reassisti o filme “Ela quer tudo”, 
           do Spike Lee. Já tinha me tocado muito quando assisti pela primeira vez, 
           numa segunda assistida outras nuances e detalhes do filme vieram à tona. 
           E aquela história/sensação ficou martelando na minha cabeça. 
           O pai da protagonista é um baixista de jazz, que tocava pra ela quando ela 
           era criança, aquilo me tocou, e eu comecei a fazer um som que começasse 
           pela linha de baixo. O embrião da música tá aí. O baixo é muito fio condutor. 
           Esse refrão que vai se repetindo sempre “ela quer tudo” é cantado em cima da 
           melodia do baixo. E aí, por conta disso, a música meio que vai tentando construir
           uma imagem à semelhança da imagem da Nola Darling. Mas né, com toda a liberdade. 
           O filme conta a história dessa relação dela com três namorados diferentes e 
           simultâneos. E fala/narra/mostra muito ela, gostos e hábitos, e o quanto 
           ela é uma pessoa foda. Eu tento também cantar essa personagem, 
           ir acentuando/pontuando coisas legais dela. E aí no fim tem essa quebra rítmica 
           e harmônica, que começa com “My darling como é que eu vou dizer”, que é esse narrador
           que antes tava descrevendo, agora conversando diretamente com a personagem. 
           Eu gosto que Darling é o sobrenome dela, mas também funciona como expressão 
           de minha querida, que é bem usual de ouvir em português mesmo, como uma espécie 
           de gíria ou prática em alguns meios ou grupos. Uma harmonia já bem mais “comum”, 
           bem mais redonda, mais harmônica/melódica. Quase brega. Numa onda meio Caetano, 
           naqueles momentos bregas. Eu gosto que sempre a cada estrofe tem essa repetição 
           de “outro amor, amores”, esse plural de amor, que acontece junto com a 
           sétima no acorde dominante. É bem um clichê do brega/sertanejo essa sétima,
           eu gosto do clima que ela dá, junto com o texto que é cantado, que é quase 
           como uma correção, algo como, não é um amor só, são vários amores, é preciso lembrar.
           E encerra com mais um clichê “a lembrança de um amor, amores, de verão” - 
           não só a Nola, mas quantos de nós não vivemos amores com a duração de um verão? 
        </p>
    </div>

    <div class="colunas">
        <h5><strong>Ela quer tudo por Vini</strong></h5>
        <p>
            Aqui já tem a estrutura original mais presente, ela partiu da composição 
            e foi mais “acompanhando” a partir de um beat. Com essa pegada meio Brasil, 
            meio sambinha, meio Jorge Ben. Com menos pegada de música gringa, 
            de música pop gringa.
        </p>
    </div>
{% endblock %}