{% extends "layout.html" %}

{% block title %}
    Frágil Equilíbrio
{% endblock %}

{% block main %}
    <div class="colunas">
        <h2 class="nome">Frágil equilíbrio</h2>
        <p>
            Micro-canção, quase-haikai-porém-não, com apenas três versos que se repetem.
            Também foi escrita por Apj e inspirada em documentário homônimo e em uma 
            história compartilhada pelo cantor Pedro Cassel sobre o samurai e o menino, 
            na qual o menino cria com leveza, brincando, e o samurai, disciplinado, 
            é responsável pela transformação da criação em obra de fato. 
            Faz analogia a estes dois seres (samurai e menino) que habitam cada criador,
            compositor, cantor etc.
        </p>
    </div>
    <div class="youtube-container">
        <div class="youtube-content">
            <img class="ratio" src="http://placehold.it/16x9"/>
            <iframe src="https://www.youtube.com/embed/toOZvwxzO7o?start=196" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>  
    <div class="colunas">
        <h5><strong>Frágil equilíbrio por Apj</strong></h5>
            <p>
                Essa também nasceu entre a “Cave” e a “Hello World”. 
                Logo depois da “Ela quer tudo”. Engraçado, a ordem de composição coincide 
                com a ordem do EP. Ou talvez seja isso mesmo, foi um EP sendo feito e 
                pensado faixa a faixa, acho que faz sentido mesmo. 
                A gente já sabia, eu acho, que queria uma música pra ser vinheta/transição 
                entre a “Ela quer tudo” e a “Hello World”. Tem essa história, que eu ouvi 
                numa aula de canto com o Pedro Cassel. Provavelmente porque eu falei pra ele
                que no momento que eu to criando (daí a leveza lá em “Cave”) é muito bom e 
                maravilhoso e florido e eu tô ali cantando lindamente. E depois de criada, 
                quando aquele espírito da criação deixa o meu corpo, e eu vou interpretar aquilo,
                eu vou recantar, eu vou ensaiar, ou me apresentar, ou só exercitar, 
                que aquela leveza some. E aí vem um monte de neura, e insegurança, e dificuldade, 
                aí eu preciso treinar muito, praticar muito, avaliar nota a nota, repetir mil vezes.
                E ele contou essa história do Samurai e do Menino. Na história, dentro de cada um 
                de nós existe um Samurai e um Menino. O Menino cria brincando. O Samurai pega a 
                criação bruta do Menino e treina exaustivamente pra chegar à perfeição. 
                Eu confesso que sou mais fã do menino. Acho meio chato esse Samurai martelando de 
                armadura e espada, não sou muito afeito à perfeição. Mas em algum ponto ele é preciso. 
                Pra mim, é um frágil equilíbrio, ou equilíbrio difícil entre esses dois seres 
                que me habitam. Essa expressão “Frágil equilíbrio” eu roubei de um filme 
                documentário com esse nome, que fala sobre o capitalismo nos tempos atuais. 
                Frágil equilíbrio soa tão bem. E é tão diverso, múltiplo, plural em significados
                e potências. Por isso eu quis e gosto que essa letra seja extremamente enxuta.
                Porque essas duas palavras são capazes de inundar qualquer espaço-silêncio-brecha.
            </p>
        </div>
    
        <div class="colunas">
            <h5><strong>Frágil equilíbrio por Vini</strong></h5>
            <p>
                A produção dela foi pensando em trilha sonora pro filme 
                [“2020”, ainda no circuito de festivais]. 
                Não foi pensada exatamente como uma faixa, 
                mas mais como uma transição entre cenas mesmo, 
                uma espécie de vinheta fantástica. 
                A própria composição já tem essa pegada, era esse tipo de contorno, 
                de direcionamento que a gente queria, esse tipo de momento 
                que a gente queria ter no filme. Chegamos a pensar em fazer uma 
                versão mais longa, com outros elementos, pra streaming, 
                mas acabamos nos convencendo que essa versão assim dessa maneira 
                fazia sentido dentro do EP também.  
            </p>
        </div>
{% endblock %}