{% extends "layout.html" %}

{% block title %}
    Bits em Chamas
{% endblock %}

{% block main %}

  <!-- <h1> BITS EM CHAMAS - LANÇAMENTOS </h1>
  <div class="colunas">
      
      <img src="static/images/capa_hw.jpeg" width="300px" height="300px">

  </div> -->

  <div class="capa-container">
    <img class="capa" src="static/images/capa.png">
  </div>
  
  <h1 class="titulo">Bits em Chamas</h1>
  <p class="texto-apoio"> Duo musical ou banda binária // 
    Bits é <a href="http://instagram.com/apjprasempre" title="instagram do Apj" target="blank"> @apjprasempre </a> && <a href="http://instagram.com/vinialbernaz" target="blank" title="instagram do Vini">@vinialbernaz</a> em Chamas</p>
  <!-- <p>Make the columns match the height of the tallest column.</p> -->

  <div class="col-container">
    <div class="col">
      <h2>Hello World</h2>
      <p>Lançamento oficial dia 25-06-2021 em todas plataformas de streaming.
         Faça agora o <a link href="http://bit.ly/BitsEmChamasHelloWorld" target="blank" 
         title="Link para pré-save da faixa Hello World da Bits em Chamas">Pré-save</a>.
         Estreia do videoclipe no <a link href="https://www.youtube.com/channel/UC-d-j8DHWJ-pRXNRV92dQiQ" target="blank" title="Canal de YouTube da Bits em Chamas">
         YouTube</a> às 21h do dia 25 de junho.    
         
      </p>
      <img src="static/images/capa_hw.jpeg" width="300px" height="300px">
    </div>

    <div class="col">
      <h2>Cave</h2>
      <p>Lançamento oficial dia 30-07-2021 em todas plataformas de streaming
        Faça agora o <a link href="http://bit.ly/BitsEmChamasCave" target="blank" 
        title="Link para pré-save da faixa Cave da Bits em Chamas">Pré-save</a></p>
     <img src="static/images/cave.jpg" width="300px" height="300px">
    </div>

    <div class="col">
      <h2>Ela quer tudo + <br> Frágil Equilíbrio</h2>
      <p>Lançamento oficial dia 27-08-2021 em todas plataformas de streaming
        Faça agora o <a  href="http://bit.ly/BitsEmChamasElaQuerTudo" target="blank" 
        title="Link para pré-save da faixa Ela quer tudo + Frágil equilíbrio da Bits em Chamas">
        Pré-save</a></p>
     <img src="static/images/elaquertudo.jpg" width="300px" height="300px">
    </div>
  </div>

<!--
 <div class="col-container">
    <div class="col">
      <h2>Feedback</h2>
      <p>Oi! Manda uma mensagem pra nós! 
        <br> O teu feedback é muito importante! :D </p> 
      <form action="http://formmail.kinghost.net/formmail.cgi" method="POST"> 
        <input type="hidden" name="recipient" value="bitsemchamas@gmail.com"> 
        <input type="hidden" name="redirect" value="http://bitsemchamas.com/thx"> 
        <input type="hidden" name="subject" value="Feedback para Bits em Chamas">  
        <input type="hidden" name="email" value="bitsemchamas@gmail.com"> 
        
        <p> 
        Nome:<br /> 
        <textarea id="nome" name="nome" rows="1" cols="50"></textarea> 
        </p>   
        
        <p>
        E-mail:<br /> 
        <textarea id="email" name="email" rows="1" cols="50"></textarea> 
        </p>   
        
        <p> 
        Feedback:<br /> 
        <textarea id="feedback" name="feedback" rows="10" cols="50"></textarea>
        </p>   
        
        <p> 
        <input type="submit" name="BTEnvia" value="Enviar"> 
        <input type="reset" name="BTApaga" value="Apagar"> </p> 
        </form><br>

        <p>Faça uma doação:</p>
          <form action="https://www.paypal.com/donate" method="POST" target="_top">
            <input type="hidden" name="hosted_button_id" value="T5QFQFPLUZBXC" />
            <input type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/pt_BR/i/scr/pixel.gif" width="1" height="1" />
          </form>
    </div>
  </div>
-->
    <div class="capa-container">
      <img class="capa" src="static/images/canto.png">
    </div>
{% endblock %}
